body {
    margin: 0;
    overflow: hidden;
    background-color: #0c0431; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateY(800px);
    }
    to {
      transform: translateY(0px);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0%;;
    }
    to {
      opacity: 100%;
    }
  }
  
  

.button {
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 35px;
    padding: 0.4em 1em;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(43, 14, 209);
    background-color:rgb(255, 255, 255);
    border: rgb(255, 255, 255) 3px solid;
    border-radius: 4px;
    margin-left: 650px;
    margin-top: 300px;
    animation: fadeIn 3s ease-in-out 0s; 
    transition: transform 0.7s, background-color 0.3s, color 0.3s;
  
  }
  .button:hover {
    transform: translateY(-8px);
    background-color: rgb(43, 14, 209);
    border: rgb(43, 14, 209);
    color: rgb(255, 255, 255);
    transition-delay: 0s;
  }

  .shooting-stars {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    rotate: 360deg;
}
.larger-star {
    position: absolute;
    width: 2px; 
    height: 2px; 
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    animation: shooting 1.5s linear infinite;
    rotate: 360deg; 
}

@keyframes shooting {
    0% {
        transform: translate(0, 0)
        rotate(200deg);
        opacity: 1;
    }
    100% {
        transform: translate(-50vw, 150vh)
        rotate(200deg); 
        opacity: 0;
    }
}



.shooting-stars::before,
.shooting-stars::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 80px;
    background: white;
    opacity: 0.8;
    animation: shooting 1.5s linear infinite;
}

.shooting-stars::after {
    animation-delay: 0.5s;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 0 #fff
    }
    to {
      text-shadow: 0 0 10px #fff; 
    }
  }